.card {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.machineAlias {
  font-size: 0.8em;
  color: gray;
}

.greenText {
  color: #28a745;
  font-size: 0.8em;
}

.redText {
  color: #dc3545;
  font-size: 0.8em;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-right: 16px;
}

.circleItem {
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circleLabel {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.processList {
  width: 70%;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.userGroup {
  margin-bottom: 20px;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.userName {
  font-weight: bold;
  font-size: 1.2em; /* 字号稍大 */
}

.memoryUsage {
  font-size: 1em; /* 正常字号 */
  color: #666; /* 较浅的颜色 */
}


/* 桌面端：调整为上下布局，并匀出更多空间 */
@media (min-width: 768px) {
  .circleContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%; /* 调整为25%宽度，给processList留出更多空间 */
    margin-right: 16px;
  }

  .processList {
    width: 75%; /* 剩余75%的宽度用于显示processList */
  }
}

/* 手机端：隐藏top processes */
@media (max-width: 767px) {
  .circleContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .cardContent {
    flex-direction: column;
    align-items: flex-start;
  }

  .processList {
    display: none; /* 隐藏top processes */
  }
}
